<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login form </title>
    <link rel="stylesheet" href="{% static 'css/login_z.css' %}">
</head>
<body>
  <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <button>Log In</button><br>
       <br><p><a href="{% url 'z' %}">you have create account</a> </p>

    </form>
</body>
</html>